flyway.user=postgres
flyway.password=admin
flyway.schemas=public
flyway.url=jdbc:postgresql://localhost:5432/pr_reviewer_assignment_service
flyway.locations=classpath:db/migration
flyway.cleanDisabled=false
