server:
    port: "${SERVER_PORT}"

spring:
    main:
        banner-mode: "off"
    datasource:
        own:
            username: ${CONTAINER.USERNAME}
            password: ${CONTAINER.PASSWORD}
            url: ${CONTAINER.URL}
