server:
    port: "${SERVER_PORT}"

spring:
    main:
        banner-mode: "off"
    datasource:
        url: "${DB_URL}"
        username: "${DB_USERNAME}"
        password: "${DB_PASSWORD}"
        driver-class-name: "org.postgresql.Driver"
